<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ cedula | number }}</h1>
  <h1>{{ persona | json }}</h1>
</div>

<div class="button">
  <button
  pButton
  icon="pi pi-check"
  iconPos="right"
  (click)="mostrarNombre()"
  label="Cambiar Nombre"
  class="p-button p-button-help"
></button>
</div>

<div class="card">
  <p-card [header]="nombre | titlecase" [subheader]="cedula.toString()">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit natus, eius
    modi unde ipsa ratione accusamus repellat similique, pariatur consequatur
    tempora iste, aliquid eaque nesciunt optio nam itaque exercitationem
    dolorum!
  </p-card>
</div>
